asdf==2.3.0
lz4==2.0.2
numpy==1.14.0
scipy==1.0.0
clint==0.5.1
google-cloud-storage==1.2.0
# dulwich does not specify an upper version constraint for urllib3 and we may end up with a conflict otherwise
urllib3<1.25
requests==2.21.0
dulwich==0.19.11
jinja2==2.10.1
humanize==0.5.1
python-dateutil==2.7.3
pygtrie==2.3
xxhash==1.2.0
spdx==2.5.0
