source{d} MLonCode models
=========================
{% for name, items in meta.items() | sort %}
{{ "" }}
## {{ name }}
{{ items.description }}

Example:

```python
{{ items.code % name }}
```

{{ models[name] | length }} model{{ "s" if models[name] | length > 1 }}:

    {% for uuid, url in links[name].items() | sort %}
* {{ "<default>" if uuid == items["default"] }} [{{ uuid }}]({{ url }})
    {% endfor %}
{% endfor %}
