# {{ model_type }}

{{ meta.description }}

Example:

```python
{{ meta.code % ("\"" + model_uuid + "\"") }}
```

### References

{% for ref in meta.references %}
* [{{ ref[0] }}]({{ ref[1] }})
{% endfor %}

|    |    |
|:---|:---|
| ID       | {{ model_uuid }} |
| Uploaded | {{ meta.created_at }} |
| Version  | {{ meta.version | join(".") }} |
| File     | {{ meta.url }} |
| Size     | {{ meta.size }} |
{% for key, val in meta.extra.items() | sort %}
| {{ key }} | {{ val }} |
{% endfor %}
| License  | [{{ meta.license[0] }}]({{ meta.license[1] }}) |

{% if meta.dependencies %}
### Dependencies

    {% for dep in meta.dependencies %}
* [{{ dep }}]({{ links[dep] }})
    {% endfor %}
{% endif %}